:root {
  /* Backgound shades */
  --primary-background: rgba(36, 5, 62, 255);

  --section-background: #fbf8ff;

  /* Font colors */

  --primary-green: #67e8b4;

  --primary-grey: #525252;

  --primary-dark-blue: rgba(0, 34, 21, 255);
}

/* 
- Font size (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/* Default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif, system-ui;
  max-width: 180rem;
  margin: 0 auto;
  position: relative;
}
/* ///////////////////////////////////////////// */

.header {
  max-width: 180rem;
  margin: 0 auto;
  position: relative;
  height: 75rem;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70rem;
  background-color: var(--primary-background);
  clip-path: ellipse(89% 73% at 49% 25%);
  z-index: -1;
}

.header__nav {
  max-width: 180rem;
  padding-top: 3rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0rem auto;
}

.nav-link {
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid var(--primary-green);
}

.header__title-contaniner {
  position: relative;
}

.hero__header {
  padding-top: 6rem;
  width: 50%;
  margin: 0 auto;
  color: #fff;
  font-size: 6rem;
  text-align: center;
}

.underline {
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid var(--primary-green);
}

.hero-btn {
  cursor: pointer;
  position: absolute;
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17rem;
  height: 5rem;
  background-color: var(--primary-green);
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--primary-dark-blue);
}

.header__pattern-1 {
  position: absolute;
  height: 30rem;
  top: 5%;
  left: -5%;
}
.header__pattern-2 {
  position: absolute;
  height: 20rem;
  top: 25%;
  right: 0%;
}

/* /////////////////////////////////////////////////////// */
.img-container {
  height: 50rem;
  margin-bottom: 10rem;
}

.hero__img {
  position: absolute;
  top: 84%;
  left: 52%;
  transform: translate(-50%, -50%);
  height: 35rem;
  z-index: 5;
}
/* /////////////////////////////////////////////////////// */
/* Article section */

.description {
  max-width: 180rem;
  margin: 10rem auto;
  display: flex;
  justify-content: center;
}

.article__description {
  max-width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.article__description::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  max-width: 180rem;
  height: 125rem;
  background-color: var(--section-background);
  clip-path: ellipse(89% 73% at 49% 25%);
  z-index: -5;
}

.description-numer {
  border-radius: 50%;
  width: 3.4rem;
  height: 3.4rem;
  background: #fff;
  border: 0.2rem solid #000;
  color: var(--primary-grey);
  font-weight: 700;
  text-align: center;
  font: 2.8rem Arial, sans-serif;
  margin: 3rem auto;
}
.description-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
}
.description-paragraph {
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  color: var(--primary-grey);
}

/* /////////////////////////////////////////////////////// */
/* Second article section */

.application__section-container {
  max-width: 180rem;
  margin: 35rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.application-img {
  width: 30rem;
  position: absolute;
  top: 0;
  left: -13%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.application__section-descp {
  margin-left: 15rem;
  position: relative;
  width: 50rem;
  background-color: var(--primary-background);
  color: #fff;
}

.section-descp-text {
  max-width: 80%;
  margin: 0 auto;
}

.desc-heading {
  font-size: 3.6rem;
  padding: 4rem 0 4rem 0;
}

.desc-paragraph {
  font-size: 1.6rem;
  max-width: 80%;
  padding-left: 0;
}

.desc-btn {
  width: 17rem;
  height: 5rem;
  background-color: var(--primary-green);
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.desc-pattern {
  position: absolute;
  top: 54%;
  left: 66%;
}

/* /////////////////////////////////////////////////////// */
/* Footer section */

.footer {
  margin-top: -25rem;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons-container {
  margin-top: 5rem;
  display: flex;

  justify-content: center;
}

.footer-icon:not(:last-child) {
  margin-right: 2rem;
}
